<div class="vh-100-off-nav management-panel-bg rounded" fxFlex="0 0 200px">
    <small class="d-flex justify-content-center side-bar-category py-1"><small>Management</small></small>
    <small class="side-bar-item d-flex justify-content-start cursor-point" routerLink="./surveys"><i
            class="bi bi-card-checklist pe-2"></i><span>
            Surveys</span></small>
    <small class="side-bar-item d-flex justify-content-start cursor-point" routerLink="./survey-link"><i
            class="bi bi-card-checklist pe-2"></i><span>
            Share link</span></small>
</div>
<div>
    <router-outlet></router-outlet>
</div>